* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.menu {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow .2s;
}

.menu:hover {
  box-sizing: border-box;
  box-shadow: -10px -10px 10px #00000070;

}

.item {
  font-size: 1.5em;
  border-top: 1px solid #2980b9;
  overflow: hidden;
}

.btn {
  padding: 16px 20px;
  text-transform: uppercase;
  display: block;
  background: #3498db;
  color: white;
  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #3498db;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}

.btn i {
  margin-right: 10px;
}

.smenu {
  background: #333;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}

.sbtn {
  display: block;
  color: white;
  padding: 16px 26px;
  text-transform: capitalize;
  font-size: 14px;
  margin: 4px 0;
  position: relative;
}

.sbtn::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #3498db;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.sbtn:hover::before {
  opacity: 1;
}


.item:target .smenu {
  max-height: 10em;
}

.left {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(2%, 2%);
}

/*  */

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  background: url("water_texture840.png");
  background-attachment: fixed;
  transition: z-index 5s ease;

}

h1 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 5em;
  text-transform: uppercase;
  text-align: center;
  background: url("water_texture840.png");
  background-size: auto;
  background-attachment: fixed;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1:hover::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0%;
  z-index: -1;
  text-shadow: -5px 5px 20px #000, -10px 10px 30px #000, -20px 15px 40px #000, -25px 20px 50px #000;
}


/* social 3d */

.social-ddd {
  position: relative;
  display: block;
  transform-style: preserve-3d;
}

.social-ddd ul {
  position: absolute;
  top: -50%;
  transform: translate(-10%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-ddd ul li {
  /* padding: 30px 10px; */
  padding-bottom: 180px;
  width: 400px;
  margin: 0 5px;
}

.social-ddd ul li a {
  position: absolute;
  display: block;
  width: 210px;
  height: 80px;
  text-transform: capitalize;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  text-align: left;
  padding-left: 20px;
  background-color: #1298ff;
  transition: .5s;
  box-shadow: -20px 20px 10px #00000050;
}

.social-ddd ul li a::before {
  content: "";
  position: absolute;
  top: 10px;
  /* bottom: -20px; */
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transition: transform .5s;
  transform: rotate(0deg) skewY(-45deg);
}

.social-ddd ul li a::after {
  content: "";
  position: absolute;
  /* top: 10px; */
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transition: transform .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.social-ddd ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px, 15px);
  /* box-sizing: border-box; */
  box-shadow: -50px 50px 50px #00000050;
  /* z-index: 3; */
}

.social-ddd ul li:hover:nth-child(1) a {
  background: #3b5998;
}

.social-ddd ul li:hover:nth-child(1) a::before {
  background: #364592;
}

.social-ddd ul li:hover:nth-child(1) a::after {
  background: #4a69ad;
}

.social-ddd ul li:hover:nth-child(2) a {
  background: #dd4b39;
}

.social-ddd ul li:hover:nth-child(2) a::before {
  background: #b33a2b;
}

.social-ddd ul li:hover:nth-child(2) a::after {
  background: #e66a5a;
}

.social-ddd ul li:hover:nth-child(3) a {
  background: #e4405f;
}

.social-ddd ul li:hover:nth-child(3) a::before {
  background: #d81c3f;
}

.social-ddd ul li:hover:nth-child(3) a::after {
  background: #e46880;
}


.social-ddd ul li:hover:nth-child(4) a {
  background: #00aced;
}

.social-ddd ul li:hover:nth-child(4) a::before {
  background: #097aa5;
}

.social-ddd ul li:hover:nth-child(4) a::after {
  background: #53b9e5;
}


.social-ddd ul li:hover .fab,
.social-ddd ul li:hover span {
  color: #fff;
}

.social-ddd ul li a .fab {
  color: #262626;
  line-height: 80px;
  font-size: 4em;
  padding-right: 14px;
  transition: .5s;
}

.social-ddd ul li a span {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}
